@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

h1 {
display: flex;
margin: 0;
justify-content: center;
place-items: center;
font-family: 'Press Start 2P', cursive;
color: lime;
position: absolute;
}

body {margin:0;}
