@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

div {
  width: 300px;
  border-top: .0625rem solid #e0e0e0;
  border-left: .0625rem solid #e0e0e0;
  border-right: .0625rem solid #e0e0e0;
  border-bottom: .0625rem solid #e0e0e0;
}
ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display:flex;
  list-style:none;
  position: absolute;
  left: 50%;
  top: 50%;
  /* -1/2 */
  margin-left: -252px;
  margin-top: -252px;
}
li {
  margin: 10px;
  border-radius: 15px;
  box-shadow: -4px 4px 4px #888888;
}
h2 {
  margin: 20px;
  font-family: 'DM Sans', sans-serif;
  font-weight: lighter;
}
h4 {
  font-family: 'Odibee Sans', cursive;
  margin: none;
  margin-left: 10px;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
}
.a-star-box {
    height: 504px;
    width: 504px;
    border-radius: 15px;
    display: flex;
    overflow: hidden;
    position: relative;
    background-color: white;
}