:root {
    /* Light mode */
    --light-text: #222222;
    --light-bg: #e6dad4;
    --light-github-invert: 0%;
    --light-toggle-icon: url("../../res/moon-fill.svg");
    /*--light-theme: #d34a97;*/

    /* Dark mode */
    --dark-text: #dddddd;
    --dark-bg: #19252b;
    --dark-github-invert: 100%;
    --dark-toggle-icon: url("../../res/sun-fill.svg");
    /*--dark-theme: #bd93f9;*/

    /* Default mode -> light */
    --default-text: var(--light-text);
    --default-bg: var(--light-bg);
    --default-github-invert: var(--light-github-invert);
    --default-symbol: var(--dark-bg);
    --default-toggle-icon: var(--light-toggle-icon);

    --standard-transition: background 0.5s, color 0.5s;
    --opacity-handler: 1;
}

:root:has(#theme-switch:checked) {
    --default-text: var(--dark-text);
    --default-bg: var(--dark-bg);
    --default-github-invert: var(--dark-github-invert);
    --default-symbol: var(--light-bg);
    --default-toggle-icon: var(--dark-toggle-icon);
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;  /* Optional: just make scrollbar invisible */
}

/*::-webkit-scrollbar-thumb {*/
/*    background: transparent;*/
/*}*/
/*::-webkit-scrollbar-thumb:hover {*/
/*    background: var(--default-text);*/
/*}*/

.font-default, .smooth-font, body {
    text-rendering: optimizeLegibility;
}

.font-default, body {
    font-family: Montserrat, sans-serif;
}

body {
    background: var(--default-bg);
    color: var(--default-text);
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    transition: var(--standard-transition);
}

.Menu {
    position: fixed;
    right: 30px;
    top: 30px;
    z-index: 10;
    text-align: right;
    transform-origin: bottom right;
    transform: rotate(-90deg) translateX(28px)
}

.Menu .symbol {
    margin: 0;
    display: inline-block;
    position: relative;
    top: 1px;
    background: var(--default-symbol);
    color: var(--default-symbol);
    transition: var(--standard-transition);
}

.Menu-invisible {
    display: none
}

.Menu nav {
    margin-top: 10px;
    font-size: 18px
}

.Menu nav a {
    margin-left: 20px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
    transition: opacity .5s
}

.Menu nav a.selected, .Menu nav a:hover {
    opacity: 1
}

.Menu nav a:first-child {
    margin-left: 0
}

.Title {
    color: inherit;
    font-family: Nunito, sans-serif;
    font-size: 80px;
}

@media (max-height: 600px), screen and (max-width: 767px) {
    .Menu {
        display: none
    }
}

.symbol {
    height: 14px;
    width: 14px;
    background: #969696;
    margin-right: 14px
}

.symbol--disc {
    border-radius: 14px
}

@media screen and (max-width: 1024px) {
    .symbol {
        height: 11px;
        width: 11px;
        margin-right: 11px
    }
}

@media screen and (max-width: 767px) {
    .symbol {
        height: 7px;
        width: 7px;
        margin-right: 7px
    }
}

.Title {
    text-align: center;
}

.Title h1, .Title h2 {
    font-weight: 600
}

.Title h1 {
    font-size: 130px;
    margin-bottom: 5px
}

.Title h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
    position: relative;
    left: 9px
}

@media screen and (max-width: 1024px) {
    .Title h1 {
        font-size: 100px
    }

    .Title h2 {
        font-size: 24px;
        left: 7px
    }
}

@media screen and (max-width: 767px) {
    .Title h1 {
        font-size: 70px
    }

    .Title h2 {
        font-size: 16px;
        left: 5px
    }
}

a {
    color: inherit;
}

.Menu-Footer {
    position: fixed;
    right: 30px;
    bottom: 30px;
    transform: rotate(-90deg) translateX(100%);
    transform-origin: bottom right;
    font-size: 14px
}

.dark-image {
    filter: invert(var(--default-github-invert));
    transition: filter 0.5s;
}

.Menu-Footer li {
    display: inline-block;
    margin-right: 20px
}

.Menu-Footer a {
    opacity: 0.5;
    text-decoration: none;
    transition: opacity .5s;
}

.Menu-Footer img {
    width: 25px;
    height: 25px;
    transform: rotate(90deg);
}

.Menu-Footer a:hover {
    opacity: 1
}

.Menu-Footer a:last-child {
    margin-right: 0
}

.Home {
    /*color: #dddddd;*/
    position: relative;
    width: 100vw;
    height: 100vh;
    /*left: calc(50vw - 25%);*/
}

.Home-content {
    position: absolute;
    left: 25vw;
    top: 25vh;
    height: 50vh;
    width: 50vw;
}

.Home .Title {
    /*transform: translateX(-50%) translateY(-50%);*/
}

/*@media screen and (max-width: 1024px) {*/
/*    .Home {*/
/*        left: calc(50vw - 100px);*/
/*    }*/
/*    .Home-content {*/
/*        left: 50px*/
/*    }*/

/*    .Home .Title {*/
/*        margin: 30px 0 0 42px*/
/*    }*/
/*}*/

/*@media screen and (max-width: 767px) {*/
/*    .Home {*/
/*        height: auto;*/
/*        padding: 100px 0 0;*/
/*        left: calc(50vw - 50%);*/
/*    }*/

/*    .Home-content {*/
/*        position: relative;*/
/*        top: auto;*/
/*        left: auto;*/
/*        transform: none;*/
/*        width: calc(100% - 40px);*/
/*        margin: auto*/
/*    }*/
/*    !*TODO: needs fixing on window resize*!*/
/*}*/

.Header {
    width: 100vw;
    height: 50px;
    padding: 0;
    margin-top: 0;
    /*position: absolute;*/
    background: transparent;
    /*border: 3px solid #ff6c6a;*/
    /*transition: var(--standard-transition);*/
}

/*#theme-switch {*/
/*    width: 45px;*/
/*    height: 45px;*/
/*}*/

#theme-switch {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.switch-label > img {
    width: 50px;
    height: 50px;
    content: var(--default-toggle-icon);
    filter: invert(var(--default-github-invert));
    opacity: var(--opacity-handler);
    transition: filter 0.5s, content 0.5s;
}

.Footer {
    position: absolute;
    width: 100vw;
    height: 25vh;
    padding: 0;
    margin-bottom: 0;
    background-color: transparent;
    border: 3px solid sandybrown;
    /*transition: var(--standard-transition);*/
}

#switch {
    --dark-mode-switch-light-color: #f7f9fb;
    --dark-mode-switch-dark-color: #1b1c1d;
    /*height: 100px;*/
    /*padding: 20px;*/
    /*margin: 10px;*/
}

.cell-dark-mode-enabled-true, .cell-dark-mode-enabled-false {
    --dark-mode-switch-duration: 0.2s;
    --dark-mode-switch-interpolation: cubic-bezier(0.66, 0, 0.33, 1);
    display: grid;
    grid-template-rows: 40px auto;
    transition: background-color var(--dark-mode-switch-duration) var(--dark-mode-switch-interpolation);
}

:root:has(.cell-dark-mode-enabled-false) {
    --default-text: var(--light-text);
    --default-bg: var(--light-bg);
    --default-github-invert: var(--light-github-invert);
    --default-symbol: var(--dark-bg);
    --default-toggle-icon: var(--light-toggle-icon);
}

:root:has(.cell-dark-mode-enabled-true) {
    --default-text: var(--dark-text);
    --default-bg: var(--dark-bg);
    --default-github-invert: var(--dark-github-invert);
    --default-symbol: var(--light-bg);
    --default-toggle-icon: var(--dark-toggle-icon);
}
.centering-container {
    display: flex;
    align-items: center;
    width: 25px;
}